<div class="row" *ngIf="sensor">

  <div class="col-4">
    <div class="sensor sticky">

      <div class="actions">
        <button class="btn btn-primary" (click)="edit()" *ngIf="!isEditing"><i class="bi bi-pencil-fill"></i></button>
      </div>

      <header>
        <h1>Sensors: {{sensor.id}}</h1>
      </header>

      <form #sensorForm="ngForm" *ngIf="isEditing" (ngSubmit)="submit()">
        <div class="form-check">
          <input type="checkbox" class="form-check-input" name="isActive" [(ngModel)]="sensorUpdateModel.isActive">
          <label class="form-check-label" for="isActive">Aktīvs</label>
        </div>

        <div class="form-group">
          <label for="location">Atrašanās vieta</label>
          <input type="text" class="form-control" name="location" [(ngModel)]="sensorUpdateModel.location" required>
        </div>

        <div class="form-actions">
          <button class="btn btn-secondary" type="button" (click)="cancel()" *ngIf="isEditing"><i class="bi bi-x-circle-fill"></i></button>
          <button class="btn btn-success" type="submit" *ngIf="isEditing && !isSubmitting"><i class="bi bi-floppy-fill"></i></button>
          <button class="btn btn-success" type="button" *ngIf="isEditing && isSubmitting" disabled>
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </button>
        </div>

        <div class="alert alert-danger" *ngIf="submitError">
          Neizdevās saglabāt izmaiņas
        </div>
      </form>

      <div class="sensor-details" *ngIf="!isEditing">

        <div class="details-item">
          <label>Nosaukums</label>
          <div>
            <span>{{sensor.name}}</span>
          </div>
        </div>

        <div class="row details-item">
          <label>Atrašanās vieta</label>
          <div>
            <span>{{sensor.location}}</span>
          </div>
        </div>

        <div class="row details-item">
          <label>Produkta numurs</label>
          <div>
            <span>{{ sensor.productNumber }}</span>
          </div>
        </div>

        <div class="row details-item">
          <label>Grupa</label>
          <div>
            <span>{{ sensor.group }}</span>
          </div>
        </div>

        <div class="row details-item">
          <label>MQTT tēmas</label>
          <div>
            <ul>
              <li *ngFor="let topic of sensor.topics">{{ topic }}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>


  <app-measurement-charts class="col-8"></app-measurement-charts>
</div>