<!-- heading  -->
<h2 class="text-center">Šodienas mērījumu grafiki</h2>

<div *ngFor="let measurement of sensorData; trackBy: trackByMeasurement">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [results]="[measurement]"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [legendPosition]="legendPosition"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Laiks"
      [yAxisLabel]="measurement.name"
      [rotateXAxisTicks]="true"
      [xAxisTickFormatting]="xAxisDateFormatter"
      [wrapTicks]="false"
      [autoScale]="true">
    </ngx-charts-line-chart>
</div>  